
<div class="footer js-page-footer">
  <div class="main">

    {%- assign _site_author = site.author -%}
    {%- if _site_author.type == 'organization' -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Organization' -%}
    {%- else -%}
      {%- assign _site_author_itemtype = 'http://schema.org/Person' -%}
    {%- endif -%}

    <aside  itemscope itemtype="{{ _site_author_itemtype }}">
      <meta itemprop="name" content="{{ _site_author.name }}">
      {%- assign _site_author_url = _site_author.url | default: '/'-%}
      {%- include snippets/get-nav-url.html path=_site_author_url -%}
      {%- assign _site_author_url = __return -%}
      <meta itemprop="url" content="{{ _site_author_url }}">
      {%- if _site_author.bio -%}
        <meta itemprop="description" content="{{ _site_author.bio }}">
      {%- endif -%}
      <div class="footer__author-links">
        {%- include author-links.html author=_site_author -%}
      </div>
    </aside>
    <footer class="site-info">
      {%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
      {%- include snippets/get-nav-url.html path=_paths_rss -%}
      {%- assign _paths_rss = __return -%}
      {%- include snippets/locale-to-string.html locale=site.data.locale.NAV.RSS -%}
      {%- assign _locale_nav_rss = __return -%}
      <p class="menu menu--center">
        <span>© {{ site.title }} {{ site.data.locale.COPYRIGHT_DATES }}</span>
        <a type="application/rss+xml" href="{{ _paths_rss }}">{{ _locale_nav_rss }}</a>
      </p>
      <p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />本作品采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a>进行许可。
      </p>
    </footer>
  </div>
</div>
